.rooms-content {
    background-color: #7d92c8;
    min-height: 100vh;
    .rooms-action-header {
        border-bottom: solid 1px #003C73;
      .rooms-action-btn{
           margin-left: 46px;
           margin-top: 11px;
           margin-bottom: 11px;
           height: 36px;
           width: 134px;
           background-color: #188E0E;
           color: white;
           border-radius: 6px;
           font-size: 18px;
      }
    }
}